@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap";

/* animations */
@keyframes resize {
  from {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shownav {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(10%);
  }
}

@keyframes slidepage {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

:root {
  --blue-color: #344563;
}

/* images */
.img1 {
  content: url("./images/SnapshootPortfolio.png");
}

.img2 {
  content: url("./images/SnapshootPortfolio-2.png");
}

.img3 {
  content: url("./images/SnapshootPortfolio-1.png");
}

.img4 {
  content: url("./images/SnapshootPortfolio-3.png");
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.b_active {
  overflow-y: hidden;
}

.active-page {
  border-bottom: 1px solid gray;
}

li {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  width: 378px;
  margin: 0 auto;
  border: 1px solid gray;
}

header.active,
.wrapper.active section:not(#showmenu) {
  filter: blur(5px);
}

header {
  width: 375px;
  height: 48px;
  position: fixed;
  background: white;
  z-index: 1;
  padding: 4%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}

.logo {
  display: flex;
  align-self: flex-end;
  animation: rotate 1s 1 linear 1s;
}

.union {
  cursor: pointer;
}

.hamburger {
  content: url("./images/Union.png");
}

.hamburger.active {
  content: url("./images/Enabled-close.png");
  position: relative;
  z-index: 1;
}

.navbar-links {
  display: none;
}

.inside * {
  list-style: disc;
  margin: 0 7%;
}

.navbar-links.active {
  width: 400px;
  display: flex;
  position: absolute;
  margin: -6% auto;
  left: 0;
  height: 1000vh;
  padding-top: 40%;
  background-color: rgba(96, 112, 255, 0.9);
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  font-weight: 400;
  font-size: 32pt;
  line-height: 44px;
}

.showinside > * {
  list-style: disc;
}

.navbar-links.active * {
  text-decoration: none;
  color: white;
}

.navbar-links.active *:hover {
  color: whitesmoke;
  background-color: #0d141e;
  border-radius: 10px;
}

h1 {
  padding-top: 5%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-style: normal;
  color: #172b4d;
}

/* pop-up menu */
#showDetails {
  display: none;
}

#showDetails.activate {
  position: relative;
  top: 8vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgb(37 47 137 / 8%);
  border-radius: 16px;
}

.closeBtn {
  width: 8%;
  position: absolute;
  right: 4%;
  top: 2%;
  cursor: pointer;
}

.showtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 1px;
  color: #172b4d;
  padding-inline-start: 2%;
}

.showthumbnail > img {
  width: 98%;
  height: auto;
  padding-inline-start: 2%;
}

.showoutside {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  padding-inline-start: 2%;
}

.showinside {
  display: flex;
  justify-content: space-evenly;
  min-width: 65%;
  padding-inline-start: 0;
  color: #7a869a;
}

.showdescription {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 5%;
}

.showtext {
  width: 90%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.showtech {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  gap: 3%;
  padding-bottom: 20px;
}

.skill-list > ul {
  padding-inline-start: 2%;
}

.showbuttons > ul:nth-child(2) {
  display: flex;
  flex-wrap: nowrap;
  padding-inline-start: 0;
  gap: 2%;
}

.modal-body {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: var(--blue-color);
}

.headline,
.about {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  background-image: url(./images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  margin-top: 5%;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #7f8cff;
  text-transform: uppercase;
  margin-bottom: 0;
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
  padding-inline-start: 0;
  padding-bottom: 15px;
}

.works {
  margin-top: 5%;
  display: grid;
  grid-template: repeat(4, 25%) / auto;
  padding: 15% 5%;
  gap: 50px;
}

.work-item {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background: white;
  gap: 12px;
  width: 327px;
  padding: 16px;
}

.title {
  margin-top: -10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  color: #172b4d;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-inline-start: 0;
}

.client {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--blue-color);
  text-transform: uppercase;
}

.details {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #71869a;
}

.inside {
  display: flex;
  min-width: 67%;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--blue-color);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px;
}

.RoR {
  display: none;
}

.button-two,
.button-one {
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  padding: 12px;
  gap: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  text-align: center;
  transition: background 2s;
}

.button-one {
  width: 168px;
}

.about {
  padding-top: 30%;
  background: white;
}

.about > h1 {
  margin-bottom: 0;
}

.skill-list {
  padding: 10% 0;
}

.list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  width: 97%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img:hover :not(.showthumbnail) {
  transform: scale(1.2);
}

.list-item > span > img:hover {
  box-shadow: 2px 3px 5px 1px blue;
}

hr.solid {
  border-top: 1px solid #dfe1e6;
  margin-inline-start: 0;
  width: 327px;
}

.sub-language {
  background: #f7f7f9;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  padding: 2% 5%;
  margin: 4% 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.language-extend {
  padding-inline-start: 0;
}

.inside-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.content {
  background-color: #6070ff;
  text-align: center;
  color: white;
  margin-top: -718px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top-left-radius: 132px;
}

.content > h1 {
  color: white;
}

.contact-text {
  padding: 0 10px;
}

.my-form {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  margin: 0 auto;
  gap: 30px;
}

input {
  height: 50px;
  padding: 13px;
  font-weight: 400;
  font-size: 17px;
  border-radius: 10px;
  line-height: 20px;
  color: #172b4d;
  border: 1px solid#CFD8DC;
}

textarea {
  border-radius: 10px;
  color: black;
  padding: 10px;
  border: 1px solid#CFD8DC;
}

button {
  width: 140px;
  height: 48px;
  border-radius: 10px;
  background: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: black;
  border: 1px solid#CFD8DC;
}

.eclipse {
  content: url("./images/contact form shapes-mobile.svg");
  position: relative;
  top: 15px;
  left: 153px;
}

.eclipse:hover {
  transform: scale(1);
}

.round {
  border-top: 2px solid #0d141e;
  margin: 0 auto;
  width: 100px;
  border-radius: 10px;
}

.message {
  visibility: hidden;
  top: -10rem;
}

.message.active {
  visibility: visible;
  position: relative;
  top: -55vh;
  left: 40%;
  height: 18vh;
  border-radius: 10px;
  text-align: center;
  padding: 7%;
  border: none;
  background-color: #c5791c;
  max-width: 65%;
  font-size: 0.9rem;
}

#innermsg {
  font-size: 0.8rem;
  font-weight: 700;
}

#warning {
  font-weight: 700;
  color: red;
  font-size: 2rem;
  top: 2rem;
  left: 10rem;
}

/* effects */
.button-two:hover,
.button-one:hover {
  background: #6070ff;
  color: white;
}

button:hover {
  background: black;
  color: white;
}

button:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.connect:hover {
  color: green;
}

.navbar-links > li > a:hover {
  color: blue;
}

.icons > a > img:hover {
  box-shadow: 2px 3px 5px 1px blue;
  transform: scale(1.2);
  transition: transform 1s;
}

.showbuttons > ul:nth-child(2) > li > img {
  width: 95%;
}

.showbuttons ul:nth-child(2) li a img:hover {
  border-radius: 7px;
  background-color: rgb(36, 36, 49);
}

@media (min-width: 768px) {
  /* images */
  .img1 {
    content: url("./imagefile/SnapshootPortfolio.png");
  }

  .img2 {
    content: url("./imagefile/SnapshootPortfolio-1.png");
  }

  .img3 {
    content: url("./imagefile/SnapshootPortfolio-2.png");
  }

  .img4 {
    content: url("./imagefile/SnapshootPortfolio-3.png");
  }

  .wrapper {
    border: none;
    width: 100%;
    background-color: #f4f5f7;
  }

  header {
    width: 100%;
    position: fixed;
    top: -3vh;
    background: white;
    z-index: 1;
  }

  .navbar {
    margin-top: -2%;
    animation: shownav 5s linear;
  }

  .logo {
    align-self: center;
    animation: rotate 5s 1 linear 2s, resize 5s 1 linear;
  }

  .union {
    display: none;
  }

  .navbar-links {
    display: flex;
    min-width: 35%;
    justify-content: space-between;
    animation: slidepage 10s linear;
  }

  .navbar-links * {
    text-decoration: none;
  }

  /* pop-up menu */
  #showDetails.activate {
    width: 80%;
  }

  .showtitle {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .closeBtn {
    width: 5%;
  }

  .showoutside {
    font-size: 15px;
    line-height: 20px;
  }

  .showinside {
    min-width: 30%;
    padding-inline-start: 0;
  }

  .showtext {
    width: auto;
    font-size: 16px;
    line-height: 30px;
    padding-inline-start: 2%;
  }

  .showtext > p {
    margin-top: 0;
  }

  .showdescription {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 2%;
    padding-inline-start: 0;
  }

  .headline {
    background: url(./imagefile/Header\ bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 100px 80px;
    background-color: white;
    height: 100vh;
  }

  h1 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    margin-bottom: 2px;
  }

  .list-item > span > img {
    position: relative;
    top: 8px;
  }

  .works {
    padding: 0 1%;
    grid-template: repeat(4, auto) / minmax(0, 1fr);
  }

  .work-item {
    width: 100%;
    flex-direction: row;
    padding: 15px;
    padding-bottom: 20px;
  }

  .thumbnail {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .thumbnail > a > img {
    max-width: 100%;
    display: block;
    height: auto;
    object-fit: contain;
  }

  .work-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .primary-text {
    display: flex;
    flex-direction: column;
    padding-inline-start: 18px;
  }

  .title {
    font-size: 2rem;
    line-height: 2rem;
    color: #091e42;
    margin-bottom: 0;
  }

  .description {
    font-size: 1em;
    line-height: 1rem;
    padding-right: 60px;
  }

  .frame-2 {
    gap: 2%;
    align-items: center;
  }

  .frame-end {
    margin-left: -6%;
  }

  .RoR {
    display: inline-block;
  }

  .client,
  .details {
    font-size: 1em;
    line-height: 1em;
    color: #344563;
  }

  .details {
    font-weight: 400;
    color: #6b778c;
  }

  .tags {
    gap: 2%;
  }

  .button-two {
    width: 130px;
    height: 48px;
  }

  .about {
    background: url(./imagefile/about\ myself\ -\ background-\ shape-\ desktop@2x.png);
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 8% 2%;
    margin-top: 15%;
    padding-inline-start: 3%;
  }

  .personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .personal-info > h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #091e42;
    margin-bottom: 3px;
  }

  .personal-info > .modal-body {
    line-height: 22px;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    padding: 7% 0;
    padding-inline-start: 2%;
    max-width: 58%;
  }

  .skill-list > ul {
    max-width: 100%;
  }

  .list-item {
    width: 100%;
  }

  .desk-languages {
    display: flex;
    padding-inline-start: 0;
    width: 50%;
  }

  .sub-language {
    height: 14vh;
    gap: 0;
    flex-direction: column;
    margin: 0 2%;
    align-items: baseline;
    padding: 1px 3%;
  }

  .eclipse {
    display: none;
  }

  .content {
    background-image: url("./images/contact\ form\ background\ shapes@2x.png");
    margin-top: 0;
    text-align: center;
    background-color: rgb(37.6%, 43.9%, 100%);
    padding: 5% 26%;
    background-size: 75% 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 132px;
  }

  .content > h1 {
    font-size: 40px;
    line-height: 52px;
  }

  .contact-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 0 10%;
    color: #ebebff;
  }

  .round {
    margin-top: 16%;
  }

  hr.solid {
    width: 95%;
  }
}

@media (min-width: 940px) {
  .work-item {
    width: 86%;
  }

  .showinside {
    min-width: 25%;
  }
}

@media (min-width: 1000px) {
  .frame-end {
    margin-left: -4%;
  }

  header {
    top: -5vh;
  }

  .navbar {
    margin-top: -1%;
  }

  .thumbnail {
    width: auto;
  }

  .list-item > span > img {
    position: relative;
    top: 4px;
    right: 27%;
  }

  .about {
    padding: 0 5%;
    padding-bottom: 5%;
  }
}
